.observacao {
    width: auto;  
    box-sizing: border-box;
    height: auto;
    color: #232323;

    text-align: justify;
    font-size: 1.5vw;
    line-height: 1.5;

    word-wrap: break-word;
    scrollbar-width: thin; /* para navegadores Firefox */
    scrollbar-color: transparent transparent; /* para navegadores Firefox */

    /* Para navegadores Webkit (Chrome, Safari, Opera) */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
