.section_form {
    background-color: #FFF;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section_form form {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.section_form p {
    display:flex;
    margin-top: 20px;
    margin-left: 25px;
}
