.login {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.login section {
    background-color: #1BA5C4;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}