.login {
    display: flex;
    background-color: #1BA5C4;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.login section {
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    background-color: #ADD0E7;
    border-radius: 5px;
    max-height: 600px;
    max-width: 400px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}