.observacao {
    width: 100%;
    height: auto;
    padding: 5%;
    border-radius: 5px;
    background-color: #FFE08B4F;
    color: #667085;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}