.input_control {
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
   align-items: center;
   justify-content: center;
}

.input_control fieldset {
   display: flex;
   max-width: 500px;
   border: 2px solid #2C74AC;
   border-radius: 5px;
   align-items: center;
}

.input_control legend {
   margin-left: 15px;
   padding: 3px;
   color: #2C74AC;
}

.input_control input {
   display: flex;
   width: 358px;
   background-color: #ededed;
   flex-direction: column;
   align-items: center;
   padding: .7em;
   transition: .5s;
   border: none;
   outline: none;
}

.input_control input::placeholder {
   color: #9d9d9d;
}