.operation {
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: #2C74AC;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.operation > button {
  border: none;
  background-color: #FFF;
}
