.message {
    display: flex;
    position: fixed;
    top: 90%;
    right: 1%;
    justify-content: space-around;
    align-items: center;
    width: 344px;
    height: 48px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 800px;
    line-height: 20px;
    letter-spacing: 0.25px;
    z-index: 5000;
    animation: go-back 1s;
}

@keyframes go-back {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}

.success {
    color: #322F35;
    background-color: #BDF8C3;

}

.error {
    color: #322F35;
    background-color: #F2B8B5;
}