.input_control {
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
}

.input_control label {
   display: block;
   margin-bottom: .6em;
}

.input_control input {
   padding: .5em 1em;
   border-radius: 0;
   border: none;
   width: 100%;
}

.input_control input::placeholder {
   color: #7b7b7b;
}