.edit_group {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 3em;
    font-size: 15px;
    background-color: inherit;
    justify-content: center;
    align-items: center;
}

.edit_group section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 15px;
    background-color: #FFF;
    max-width: 945px;
    min-height: 500px;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit_group>section>h4 {
    color: #2C74AC;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    padding: 10px;
    font-weight: 500;
    line-height: 36px;
}