/* Estilos padrão do cartão */
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 420px;
  height: 186px;
  padding: 10px 20px;
  border-radius: 12px;
  flex-shrink: 0;
  background: #E2F4FC;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  /* Impede que o conteúdo vaze do cartão */
}

.card>img {
  width: 36px;
  height: 36px;
}

.card>h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.card>p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.card>div {
  margin-top: 30px;
}

.overViewCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  overflow: hidden;
  width: 100%;
  max-width: 242px;
  max-height: 124px;
  padding: 10px 0px 10px 10px;
  border-radius: 12px;
  border: 1px solid #2C74AC;
  gap: 8px;
  background: #FFF;
  color: #000;
}