/* Error404.css */
.error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error_content {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .error_title {
    font-size: 2rem;
    color: #2C74AC;;
    margin: 0;
  }
  
  .error_message {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  