.header {
  display: flex;
  width: 100%;
  padding: 30px;
  height: 70px;
  background: #FCFCFF;
  align-items: center;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header > h4 {
  display: inline-flex;
  padding: 0px 45px;
  font-size: 20px;
  color: #2C74AC;
  font-weight: bold;
  align-items: center;
  gap: 24px;
}

.backPage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C74AC;
}
