.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.button_steps {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button_proximo,
.button_feito {
    width: 146px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2C74AC;
    gap: 8px;
    color: #FFF;
    background-color: #2C74AC;
}

.button_anterior {
    width: 146px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2C74AC;
    gap: 8px;
    color: #2C74AC;
    background-color: #FFF;
}

.container_step {
    width: 100%;
    justify-content: 'space-around';
}

.representantes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.observacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulos {
    color: #2C74AC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;
}