.profile {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.profile > h5 {
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.profile > p {
  color: rgba(33, 33, 33, 0.70);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.profile > section {
  display: flex;
  gap: 30px;
}