.Form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.error {
  color: red;
  font-size: 12px;
}

.Form > div {
  display: flex;
  gap: 30px;
}