.detalhes_tabela {
    border-collapse: collapse;
    border: none;
    width: 100%;
    table-layout: fixed;
}

.detalhes_tabela th {
    color: #667085;
}

.detalhes_tabela th {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: start;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
}

.detalhes_tabela td{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: start;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
}