.container_modal {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    /* Adjust the margin as needed */
    gap: 10px;
    max-width: 500px;
    min-height: auto;
    height: auto;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: column;
    background: #FCFCFC;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 0em 1em;
}

.header>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>div>span {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    border-radius: 50px;
    margin: 10px;
    background: #FFE08B;
}

.container_conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0vw 1vw 1vw 1vw;
}

.button {
    display: flex;
    width: 175px;
    height: 48px;
    padding: 10px 2px 10px;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 10px;
    font-weight: bold;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #2C74AC;
    color: #FFF;
    background: #2C74AC;
}

.container_button_color {
    display: flex;
    gap: 10px;
}

.button_color {
    display: flex;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: none;
    
}

.green {
    background: #2EB85C;
}

.yellow {
    background: #f9b115;
}

.blue {
    background: #4332d8;
}

.red {
    background: #e55353;
}

.buttons {
    display: flex;
    justify-content:space-between;
    margin: 0;
}