.container {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  flex-wrap: wrap;
  background-color: inherit;
}

.start {
  justify-content: flex-start;
  gap: 1em;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.min-height {
  min-height: 75vh;
}