.container {
  width: 1177px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  background-color:inherit;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.min-height {
  min-height: 75vh;
}