.button_container {
    display: flex;
    gap: 3em;
    margin-left: 140px;   
}

.button_container>button {
    display: flex;
    height: 40px;
    font-size: 20px;
    font-family: Roboto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFDAD6;
    border: none;
    gap: 8px;
}

.excluir {
    color: #BA1A1A;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.cancelar {
    color: #2C74AC;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.container_form {
  display: flex;
  flex-direction: column;
}

.container_text1, .container_text2, .container_text3 {
  display: flex;
  gap: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}