.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container_input1, .container_input2 {
  display: flex;
  width: 45%;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12px;
}
