.sign_groups {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: inherit;
  justify-content: center;
  align-items: center;
}

.section_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 20px;
  background-color: #FFF;
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
