.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container_input1 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.member {
  margin-bottom: 1em;
  color: #2C74AC;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
}

.container_input2 {
  display: flex;
  width: 100%;
  column-gap: 2em;
  margin-top: 1em;
}

.error {
  color: red;
  font-size: 12px;
}